


<div class="container" id="connect-media-container">
    <div class="jumbotron tspace10">
        <h1>A glimpse into your world</h1>
        <h2>
            What does the world look like through your eyes? <br />
            Show us with a 4-second video glimpse.
        </h2>
    </div>
</div>



